# https://git-scm.com/docs/gitignore

# Node.js dependencies
/node_modules/

# Astro
/.astro/
/dist/

# Wrangler
/.wrangler/
# https://developers.cloudflare.com/workers/configuration/environment-variables/#local-development-with-secrets
/.dev.vars*
!.dev.vars.example

# Playwright
/blob-report/
/playwright-report/
/playwright/.auth/
/playwright/.cache/
/test-results/

# Environment files (https://vite.dev/guide/env-and-mode.html#env-files)
/.env.local
/.env.*.local
